@inherits BaseComponent

@namespace TestTestCMS.Web.UI.Components

@if(Visible)
{
    <button @attributes="AdditionalAttributes"
            class="@this.GetClasses()"
            type="button">
        <Icon Name="IconName.Close"
              Size="IconSize.Large" />
    </button>
}