@inherits BaseComponent
@namespace TestTestCMS.Web.UI.Components

@if(Visible)
{
    <label @attributes="AdditionalAttributes" for="@Id" class="@this.GetClasses()">
        @ChildContent
        @(Required ? "\u00A0*" : "")
    </label>
}
