@inherits BaseComponent

@namespace TestTestCMS.Web.UI.Components

@if (Visible)
{
    <nav @attributes="AdditionalAttributes" class="@this.GetClasses()">
        <ol class="@this.ClassName("BreadcrumbInner")">
            @ChildContent
        </ol>
    </nav>
}